# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

Data/processed/*.pkl
venv/
.env


# =====================================
# Virtual Environments
# =====================================
venv/
env/
.venv/
tf_env/

# =====================================
# Jupyter / Experiments
# =====================================
.ipynb_checkpoints/
notebooks/

# =====================================
# Environment Variables
# =====================================
.env
.env.*

# =====================================
# Logs
# =====================================
*.log

# =====================================
# OS / System
# =====================================
Thumbs.db
.DS_Store

# =====================================
# IDE / Editor
# =====================================
.vscode/
.idea/

# =====================================
# Movie Recommender – DATA
# (Do NOT push large datasets)
# =====================================
dataset/
datasets/
*.csv
*.xlsx

# =====================================
# Movie Recommender – MODELS
# (ML artifacts)
# =====================================
*.joblib
*.h5
*.npy
artifacts/

# =====================================
# Flask
# =====================================
instance/

# =====================================
# Docker
# =====================================
*.tar

# =====================================
# Cache / Tests
# =====================================
.pytest_cache/
.mypy_cache/
